#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #16dbc7), url("../images/banner.jpg");
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  width: 150px;
  position: absolute;
  top: 2%;
  left: 10%;
}

.banner-text {
  text-align: center;
  color: white;
  padding-top: 180px;
}

.banner-text h1 {
  font-size: 150px;
  font-family: "Kaushan Script", cursive;
}

.banner-text p {
  font-size: 25px;
  font-style: italic;
  text-transform: capitalize;
  color: #fff;
}

.banner-btn {
  margin: 70px auto 0;
}

.banner-btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: white;
  border: 0.5px solid white;
  position: relative;
  z-index: 1;
}

.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.5s;
}

.banner-btn a:hover span {
  width: 100%;
}

.banner-btn a:hover {
  color: #000;
}