#footer {
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
  height: 101vh;
}
.title-text{
  position:absolute;
  left: 35%;
  top: 5%;
}

.footer-row {
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 26%;
}

.footer-left {
  flex-basis: 45%;
  padding: 60px;
  margin-bottom: 20px;
  position: absolute;
  left: 10%;
}



.footer-row h1 {
  margin: 10px 0;
  position: absolute;
    left: 10%;
    bottom: 53%;
}

.footer-row p {
  line-height: 35px;
}

.footer-left .far {
  font-size: 20px;
  color: #009688;
  margin: 10px;
}

.query-form{
position: relative;
top: 27%;
left: 55%;
}
.query-form button{
  padding:7px 35px;
  background: #009688;
  color: #fff;
  position: absolute;
  top: 110%;
  left: 0;
}
.query-form input{
  height:150px;
  width: 400px;
}